* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* trackDotLayer CSS */
@keyframes hiwTrackDotAnim {
  0% {
      offset-distance: 0%;
      opacity: 0;
  }
  10%{
      offset-distance: 0%;
      opacity: 1;
  }
  90%{
      opacity: 1;
      offset-distance: 100%;
  }
  100%{
      opacity: 0;
      offset-distance: 100%;
  }
}
